<audio id="audio1">
	<source src="{{ site.baseurl }}/sound/great-again.mp3"></source>
	<source src="{{ site.baseurl }}/sound/great-again.ogg"></source>
</audio>

<audio id="audio2">
	<source src="{{ site.baseurl }}/sound/i-beat-china.mp3"></source>
	<source src="{{ site.baseurl }}/sound/i-beat-china.ogg"></source>
</audio>

<audio id="audio3">
	<source src="{{ site.baseurl }}/sound/laughing-at-us.mp3"></source>
	<source src="{{ site.baseurl }}/sound/laughing-at-us.ogg"></source>
</audio>

<audio id="audio4">
	<source src="{{ site.baseurl }}/sound/build-a-great-wall.mp3"></source>
	<source src="{{ site.baseurl }}/sound/build-a-great-wall.ogg"></source>
</audio>

<audio id="outtahere">
	<source src="{{ site.baseurl }}/sound/out-into-the-cold.mp3"></source>
	<source src="{{ site.baseurl }}/sound/out-into-the-cold.ogg"></source>
</audio>