<audio>
	<source src="{{ site.baseurl }}/sounds/great-again.mp3"></source>
	<source src="{{ site.baseurl }}/sounds/great-again.ogg"></source>
</audio>

<!-- <audio id="outtahere">
	<source src="{{ site.baseurl }}/sounds/throw-the-hell-out.mp3"></source>
	<source src="{{ site.baseurl }}/sounds/throw-the-hell-out.ogg"></source>
</audio> -->

<audio id="outtahere">
	<source src="{{ site.baseurl }}/sounds/out-into-the-cold.mp3"></source>
	<source src="{{ site.baseurl }}/sounds/out-into-the-cold.ogg"></source>
</audio>