<audio id="audio1">
	<source src="{{ site.baseurl }}/sound/great-again.mp3"></source>
	<source src="{{ site.baseurl }}/sound/great-again.ogg"></source>
</audio>

<audio id="audio2">
	<source src="{{ site.baseurl }}/sound/i-beat-china.mp3"></source>
	<source src="{{ site.baseurl }}/sound/i-beat-china.ogg"></source>
</audio>

<audio id="audio3">
	<source src="{{ site.baseurl }}/sound/laughing-at-us.mp3"></source>
	<source src="{{ site.baseurl }}/sound/laughing-at-us.ogg"></source>
</audio>

<audio id="audio4">
	<source src="{{ site.baseurl }}/sound/small-loan.mp3"></source>
	<source src="{{ site.baseurl }}/sound/small-loan.ogg"></source>
</audio>

<audio id="audio5">
	<source src="{{ site.baseurl }}/sound/build-a-great-wall.mp3"></source>
	<source src="{{ site.baseurl }}/sound/build-a-great-wall.ogg"></source>
</audio>

<audio id="audio6">
	<source src="{{ site.baseurl }}/sound/build-wall.mp3"></source>
	<source src="{{ site.baseurl }}/sound/build-wall.ogg"></source>
</audio>

<audio id="outtahere">
	<source src="{{ site.baseurl }}/sound/out-into-the-cold.mp3"></source>
	<source src="{{ site.baseurl }}/sound/out-into-the-cold.ogg"></source>
</audio>

<audio id="palin1">
	<source src="{{ site.baseurl }}/sound/hallelujah.mp3"></source>
	<source src="{{ site.baseurl }}/sound/hallelujah.ogg"></source>
</audio>

<audio id="palin2">
	<source src="{{ site.baseurl }}/sound/positioned.mp3"></source>
	<source src="{{ site.baseurl }}/sound/positioned.ogg"></source>
</audio>

<audio id="palin3">
	<source src="{{ site.baseurl }}/sound/pussyfootin.mp3"></source>
	<source src="{{ site.baseurl }}/sound/pussyfootin.ogg"></source>
</audio>

<audio id="palin4">
	<source src="{{ site.baseurl }}/sound/kickass.mp3"></source>
	<source src="{{ site.baseurl }}/sound/kickass.ogg"></source>
</audio>