{% include head.html %}
<div class="wrapper">
  <div class="fb-like" data-href="http://trumplings.com" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
  <img class="slogan" src="{{ site.baseurl }}/img/slogan.png" alt="trumplings slogan" />
  <div class="steamwrap">
    <img id="uno" class="trumpling" src="{{ site.baseurl }}/img/trump-4.gif" alt="trumpling" />
    <img id="dos" class="trumpling" src="{{ site.baseurl }}/img/trump-2.gif" alt="trumpling" />
    <img id="tres" class="trumpling" src="{{ site.baseurl }}/img/trump-1.gif" alt="trumpling" />
    <img id="cuatro" class="trumpling" src="{{ site.baseurl }}/img/trump-3.gif" alt="trumpling" />
    <img id="cinco" class="trumpling" src="{{ site.baseurl }}/img/trump-2.gif" alt="trumpling" />
  </div>
  <div class="steamer">
    <img class="back" src="{{ site.baseurl }}/img/steamer_back.jpg" alt="trumpling steamer" />
    <img class="front" src="{{ site.baseurl }}/img/steamer_front.png" alt="trumpling steamer" />
  </div>
  <div class="clearfix"></div>
  <!-- <p>Not in the mood for Trumplings? Try <a target="_blank" href="http://mittballs.co">Mittballs</a></p> -->
  <div class="controls">
    <a id="addtrumpling" href="#"><img src="{{ site.baseurl }}/img/button_more.png" alt="Add a trumpling" /></a>
    <a id="delete" href="#"><img src="{{ site.baseurl }}/img/delete.png" alt="remove all trumplings" /></a>
    <a id="endorse" href="#"><img src="{{ site.baseurl }}/img/palin_black.png" alt="palin endorse" /></a>
    <a id="mute" href="#">
    <img src="{{ site.baseurl }}/img/audio.png" alt="mute button" />
    <img src="{{ site.baseurl }}/img/audio_mute.png" alt="mute button" style="display:none;" />
    </a>
  </div>
{% include sound.html %}
{% include js.html %}
{% include footer.html %}
