{% include head.html %}
<div class="fb-like" data-href="http://trumplings.com" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
<div class="wrapper">
  <h1 class="title">Trumplings.</h1>
  <div class="steamwrap">
    <img id="uno" class="trumpling" src="{{ site.baseurl }}/img/trumpling.png" alt="trumpling" />
    <img id="dos" class="trumpling" src="{{ site.baseurl }}/img/trumpling.png" alt="trumpling" />
    <img id="tres" class="trumpling" src="{{ site.baseurl }}/img/trumpling.png" alt="trumpling" />
    <img id="cuatro" class="trumpling" src="{{ site.baseurl }}/img/trumpling.png" alt="trumpling" />
    <img id="cinco" class="trumpling" src="{{ site.baseurl }}/img/trumpling.png" alt="trumpling" />
    <img class="steamer" src="{{ site.baseurl }}/img/dumplingsteamer.png" alt="device that steams the trumplings" />
  </div>
  <img class="chopsticks" src="{{ site.baseurl }}/img/chopsticks_perspective.png" alt="chopsticks" />
  <p>Not in the mood for Trumplings? Try <a target="_blank" href="http://mittballs.co">Mittballs</a></p>
  <a id="addtrumpling" href="#"><img src="{{ site.baseurl }}/img/button_more.png" alt="Add a trumpling" /></a>
{% include js.html %}
{% include footer.html %}
