{% include head.html %}
  <h1 class="title">Trumplings.</h1>
  <div class="steamwrap">
    <img id="uno" class="trumpling" src="{{ site.baseurl }}/img/dumpling.png" />
    <img id="dos" class="trumpling" src="{{ site.baseurl }}/img/dumpling.png" />
    <img id="tres" class="trumpling" src="{{ site.baseurl }}/img/dumpling.png" />
    <img id="cuatro" class="trumpling" src="{{ site.baseurl }}/img/dumpling.png" />
    <img id="cinco" class="trumpling" src="{{ site.baseurl }}/img/dumpling.png" />
    <img class="steamer" src="{{ site.baseurl }}/img/dumplingsteamer.png" />
  </div>
{% include js.html %}
{% include footer.html %}
